USE [master]
GO
/****** Object:  Database [JewelryStore]    Script Date: 09.04.2026 14:46:14 ******/
CREATE DATABASE [JewelryStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JewelryStore', FILENAME = N'C:\Users\10230047\JewelryStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JewelryStore_log', FILENAME = N'C:\Users\10230047\JewelryStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JewelryStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JewelryStore]
GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 09.04.2026 14:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItem](
	[IdCartItem] [int] IDENTITY(1,1) NOT NULL,
	[IdJewelry] [int] NULL,
	[IdUser] [int] NULL,
	[Quantity] [int] NULL,
	[AddedData] [datetime] NULL,
 CONSTRAINT [PK_CartItem] PRIMARY KEY CLUSTERED 
(
	[IdCartItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jewelry]    Script Date: 09.04.2026 14:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jewelry](
	[IdJewelry] [int] IDENTITY(1,1) NOT NULL,
	[NameJewelry] [nvarchar](50) NULL,
	[IdJewelryTip] [int] NULL,
	[IdMaterial] [int] NULL,
	[IdStone] [int] NULL,
	[IdSupplier] [int] NULL,
	[PriceJewelry] [decimal](16, 2) NULL,
	[ImagePath] [nvarchar](50) NULL,
 CONSTRAINT [PK_Jewelry] PRIMARY KEY CLUSTERED 
(
	[IdJewelry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JewelryTip]    Script Date: 09.04.2026 14:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JewelryTip](
	[IdJewelryTip] [int] IDENTITY(1,1) NOT NULL,
	[NameJewelryTip] [nvarchar](50) NULL,
 CONSTRAINT [PK_JewelryTip] PRIMARY KEY CLUSTERED 
(
	[IdJewelryTip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 09.04.2026 14:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[IdMaterial] [int] IDENTITY(1,1) NOT NULL,
	[NameMaterial] [nvarchar](50) NULL,
	[Proba] [int] NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[IdMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 09.04.2026 14:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[IdOrder] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NULL,
	[IdJewelry] [int] NULL,
	[CustomerName] [nvarchar](50) NULL,
	[CustomerPhone] [nvarchar](50) NULL,
	[CustomerEmail] [nvarchar](50) NULL,
	[DeliveryAddress] [nvarchar](50) NULL,
	[IdStatusOrder] [int] NULL,
	[OrderDate] [datetime] NULL,
	[Quantity] [int] NULL,
	[TotalPrice] [decimal](16, 2) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 09.04.2026 14:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[IdOrderItem] [int] IDENTITY(1,1) NOT NULL,
	[IdOrder] [int] NULL,
	[IdJewelry] [int] NOT NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](16, 2) NULL,
	[TotalPrice] [decimal](16, 2) NULL,
 CONSTRAINT [PK_OrderItem] PRIMARY KEY CLUSTERED 
(
	[IdOrderItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 09.04.2026 14:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[NameRole] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusOrder]    Script Date: 09.04.2026 14:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusOrder](
	[IdStatusOrder] [int] IDENTITY(1,1) NOT NULL,
	[NameStatusOrder] [nvarchar](50) NULL,
 CONSTRAINT [PK_StatusOrder] PRIMARY KEY CLUSTERED 
(
	[IdStatusOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stone]    Script Date: 09.04.2026 14:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stone](
	[IdStone] [int] IDENTITY(1,1) NOT NULL,
	[NameStone] [nvarchar](50) NULL,
	[ColorStone] [nvarchar](50) NULL,
	[WeightStone] [float] NULL,
 CONSTRAINT [PK_Stone] PRIMARY KEY CLUSTERED 
(
	[IdStone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 09.04.2026 14:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[IdSupplier] [int] IDENTITY(1,1) NOT NULL,
	[NameSupplier] [nvarchar](50) NULL,
	[PhoneSupplier] [nvarchar](50) NULL,
	[EmailSupplier] [nvarchar](50) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[IdSupplier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 09.04.2026 14:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[IdRole] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CartItem] ON 

INSERT [dbo].[CartItem] ([IdCartItem], [IdJewelry], [IdUser], [Quantity], [AddedData]) VALUES (1020, 1, 2, 12, NULL)
INSERT [dbo].[CartItem] ([IdCartItem], [IdJewelry], [IdUser], [Quantity], [AddedData]) VALUES (1021, 1, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[CartItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Jewelry] ON 

INSERT [dbo].[Jewelry] ([IdJewelry], [NameJewelry], [IdJewelryTip], [IdMaterial], [IdStone], [IdSupplier], [PriceJewelry], [ImagePath]) VALUES (1, N'Кольцо "Солнышко"', 1, 1, 1, 1, CAST(25000.00 AS Decimal(16, 2)), N'ring1.jpg')
INSERT [dbo].[Jewelry] ([IdJewelry], [NameJewelry], [IdJewelryTip], [IdMaterial], [IdStone], [IdSupplier], [PriceJewelry], [ImagePath]) VALUES (2, N'Серёжки "Капля"', 2, 1, 2, 1, CAST(35000.00 AS Decimal(16, 2)), NULL)
INSERT [dbo].[Jewelry] ([IdJewelry], [NameJewelry], [IdJewelryTip], [IdMaterial], [IdStone], [IdSupplier], [PriceJewelry], [ImagePath]) VALUES (3, N'Кулон "Сердце"', 3, 2, 3, 2, CAST(0.00 AS Decimal(16, 2)), N'ring2.jpg')
SET IDENTITY_INSERT [dbo].[Jewelry] OFF
GO
SET IDENTITY_INSERT [dbo].[JewelryTip] ON 

INSERT [dbo].[JewelryTip] ([IdJewelryTip], [NameJewelryTip]) VALUES (1, N'Кольцо')
INSERT [dbo].[JewelryTip] ([IdJewelryTip], [NameJewelryTip]) VALUES (2, N'Серёжки')
INSERT [dbo].[JewelryTip] ([IdJewelryTip], [NameJewelryTip]) VALUES (3, N'Кулон')
SET IDENTITY_INSERT [dbo].[JewelryTip] OFF
GO
SET IDENTITY_INSERT [dbo].[Material] ON 

INSERT [dbo].[Material] ([IdMaterial], [NameMaterial], [Proba]) VALUES (1, N'Золото', 585)
INSERT [dbo].[Material] ([IdMaterial], [NameMaterial], [Proba]) VALUES (2, N'Золото', 750)
INSERT [dbo].[Material] ([IdMaterial], [NameMaterial], [Proba]) VALUES (3, N'Серебро', 925)
SET IDENTITY_INSERT [dbo].[Material] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([IdOrder], [IdUser], [IdJewelry], [CustomerName], [CustomerPhone], [CustomerEmail], [DeliveryAddress], [IdStatusOrder], [OrderDate], [Quantity], [TotalPrice]) VALUES (1, 2, 1, N'Иванов Иван', N'+7(999)555-55-55', N'ivanov@email.ru', N'Москва, ул. Ленина 10', 1, CAST(N'2026-04-07T09:03:01.733' AS DateTime), 1, CAST(25000.00 AS Decimal(16, 2)))
INSERT [dbo].[Order] ([IdOrder], [IdUser], [IdJewelry], [CustomerName], [CustomerPhone], [CustomerEmail], [DeliveryAddress], [IdStatusOrder], [OrderDate], [Quantity], [TotalPrice]) VALUES (4, 2, NULL, N'Мороз G', N'+6767676767888', N'MAXMAMXMAX@MAX.MAX', N'MAMXMAMXMAMXMAMXMXZMXMXMXMXCM', 4, CAST(N'2026-04-09T11:39:06.247' AS DateTime), NULL, CAST(2475000.00 AS Decimal(16, 2)))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([IdOrderItem], [IdOrder], [IdJewelry], [Quantity], [UnitPrice], [TotalPrice]) VALUES (1, 1, 1, 1, CAST(25000.00 AS Decimal(16, 2)), CAST(25000.00 AS Decimal(16, 2)))
INSERT [dbo].[OrderItem] ([IdOrderItem], [IdOrder], [IdJewelry], [Quantity], [UnitPrice], [TotalPrice]) VALUES (4, 4, 1, 99, CAST(25000.00 AS Decimal(16, 2)), CAST(2475000.00 AS Decimal(16, 2)))
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([IdRole], [NameRole]) VALUES (1, N'Пользователь')
INSERT [dbo].[Role] ([IdRole], [NameRole]) VALUES (2, N'Админ')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusOrder] ON 

INSERT [dbo].[StatusOrder] ([IdStatusOrder], [NameStatusOrder]) VALUES (1, N'Новый')
INSERT [dbo].[StatusOrder] ([IdStatusOrder], [NameStatusOrder]) VALUES (2, N'Подтверждён')
INSERT [dbo].[StatusOrder] ([IdStatusOrder], [NameStatusOrder]) VALUES (3, N'В обработке')
SET IDENTITY_INSERT [dbo].[StatusOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[Stone] ON 

INSERT [dbo].[Stone] ([IdStone], [NameStone], [ColorStone], [WeightStone]) VALUES (1, N'Бриллиант', N'Белый', 0.5)
INSERT [dbo].[Stone] ([IdStone], [NameStone], [ColorStone], [WeightStone]) VALUES (2, N'Рубин', N'Красный', 1.2)
INSERT [dbo].[Stone] ([IdStone], [NameStone], [ColorStone], [WeightStone]) VALUES (3, N'Сапфир', N'Синий', 0.8)
SET IDENTITY_INSERT [dbo].[Stone] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([IdSupplier], [NameSupplier], [PhoneSupplier], [EmailSupplier]) VALUES (1, N'Золотой стандарт', N'+7(495)123-45-67', N'info@zolotoy.ru')
INSERT [dbo].[Supplier] ([IdSupplier], [NameSupplier], [PhoneSupplier], [EmailSupplier]) VALUES (2, N'Серебряный век', N'+7(495)234-56-78', N'silver@vek.ru')
INSERT [dbo].[Supplier] ([IdSupplier], [NameSupplier], [PhoneSupplier], [EmailSupplier]) VALUES (3, N'Каменный цветок', N'+7(495)345-67-89', N'stone@cv.ru')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([IdUser], [Login], [Password], [Phone], [Email], [IdRole]) VALUES (1, N'admin', N'admin123', N'+7(999)001-00-01', N'admin@jewelry.ru', 2)
INSERT [dbo].[User] ([IdUser], [Login], [Password], [Phone], [Email], [IdRole]) VALUES (2, N'user1', N'user123', N'+7(999)002-00-02', N'user1@jewelry.ru', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Jewelry] FOREIGN KEY([IdJewelry])
REFERENCES [dbo].[Jewelry] ([IdJewelry])
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK_CartItem_Jewelry]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK_CartItem_User]
GO
ALTER TABLE [dbo].[Jewelry]  WITH CHECK ADD  CONSTRAINT [FK_Jewelry_JewelryTip] FOREIGN KEY([IdJewelryTip])
REFERENCES [dbo].[JewelryTip] ([IdJewelryTip])
GO
ALTER TABLE [dbo].[Jewelry] CHECK CONSTRAINT [FK_Jewelry_JewelryTip]
GO
ALTER TABLE [dbo].[Jewelry]  WITH CHECK ADD  CONSTRAINT [FK_Jewelry_Material] FOREIGN KEY([IdMaterial])
REFERENCES [dbo].[Material] ([IdMaterial])
GO
ALTER TABLE [dbo].[Jewelry] CHECK CONSTRAINT [FK_Jewelry_Material]
GO
ALTER TABLE [dbo].[Jewelry]  WITH CHECK ADD  CONSTRAINT [FK_Jewelry_Stone] FOREIGN KEY([IdStone])
REFERENCES [dbo].[Stone] ([IdStone])
GO
ALTER TABLE [dbo].[Jewelry] CHECK CONSTRAINT [FK_Jewelry_Stone]
GO
ALTER TABLE [dbo].[Jewelry]  WITH CHECK ADD  CONSTRAINT [FK_Jewelry_Supplier] FOREIGN KEY([IdSupplier])
REFERENCES [dbo].[Supplier] ([IdSupplier])
GO
ALTER TABLE [dbo].[Jewelry] CHECK CONSTRAINT [FK_Jewelry_Supplier]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Jewelry] FOREIGN KEY([IdJewelry])
REFERENCES [dbo].[Jewelry] ([IdJewelry])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Jewelry]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_StatusOrder] FOREIGN KEY([IdStatusOrder])
REFERENCES [dbo].[StatusOrder] ([IdStatusOrder])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_StatusOrder]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Jewelry] FOREIGN KEY([IdJewelry])
REFERENCES [dbo].[Jewelry] ([IdJewelry])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Jewelry]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Order] FOREIGN KEY([IdOrder])
REFERENCES [dbo].[Order] ([IdOrder])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Order]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
